{% extends "base.html" %}

{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}
    <ul>
    {% for room in potato %}
        <li>{{room.name}} / ${{room.price}} / {{room.city}}</li>
    {% endfor %}
    </ul>

    <h5>
        {% if page != 1 %}
            <a href="?page={{page|add:-1}}">Previous</a> <!-- a href 태그의 기능 숙지하기. -->
        {% endif %}
        
        Page {{page}} of {{page_count}}

        {% if page != page_count %}
            <a href="?page={{page|add:1}}">Next</a>
        {% endif %}

        
    </h5>


{% endblock content %}