{% extends "base.html" %}

{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}
    <ul>
    {% for room in page.object_list %}
        <li>{{room.name}} / ${{room.price}} / {{room.city}}</li>
    {% endfor %}
    </ul>

    <h5>
        {% if page.has_previous %}
            <a href="?page={{page.previous_page_number}}">Previous</a> <!-- a href 태그의 기능 숙지하기. -->
        {% endif %}
        
        Page {{page.number}} of {{page.paginator.num_pages}}

        {% if page.has_next %}
            <a href="?page={{page.next_page_number}}">Next</a> <!-- page.number|add:(int) 의 역할? / page.next_page_number 함수 -->
        {% endif %}
        <!-- ?/page=3141592 입력해보기!? 어떠한 현상이 발생하나?!-->
    </h5>


{% endblock content %}